.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.tile {
  padding: var(--tile-padding);
}

.flex {
  display: flex;
}

.bold {
  font-weight: 700;
}
.wrapper {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.33rem;
}

.shadow {
  /* very small box shadow */
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.10);
}