:root {
  --measure: 70ch;
  --default-gap: 1rem;
  --main-hue1: 280deg;
  --main-hue2: 230deg;

  --accent1-hue: 280deg;
  --accent1-sat: 80%;
  --accent1-light: 50%;
  --accent1: hsl(280, 80%, 50%);
  --accent1-glare: hsl(280, 80%, 60%);

  --accent2: hsl(0, 70%, 50%);
  --accent2-glare: hsl(0, 70%, 70%);

  --main-color: hsl(230, 75%, 60%);
  --main-color50: hsl(var(--main-hue2), 30%, 30%);
  --main-color40: hsl(230, 30%, 35%);
  --main-color30: hsl(230, 20%, 50%);
  --main-color25: hsl(230, 50%, 90%);
  --main-color20: hsl(230, 100%, 97%);
  --main-color10: hsl(230, 60%, 98%);

  --sky-blue: hsl(205, 90%, 70%);
  --orange: hsl(15, 80%, 75%);
  --white: hsl(0, 0%, 100%);

  --font-size-400: clamp(0.94rem, 0.22vw + 0.88rem, 1.06rem);
  --font-size-500: clamp(1rem, 0.34vw + 0.91rem, 1.19rem); /*base*/
  --font-size-600: clamp(1.07rem, 0.49vw + 0.94rem, 1.34rem);
  --font-size-700: clamp(1.14rem, 0.66vw + 0.97rem, 1.5rem);
  --font-size-800: clamp(1.21rem, 0.87vw + 1rem, 1.69rem);
  --font-size-900: clamp(1.3rem, 1.1vw + 1.02rem, 1.9rem);
}

* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

html {
  font-size: 100%;
} /*16px*/

h1,
h3,
h4 {
  color: var(--main-color50);
  line-height: 1.1; /* big line height on h1.. does not look good*/
}

body {
  font-size: var(--font-size-400);
}

h1 {
  font-size: var(--font-size-600);
}

h2 {
  font-size: var(--font-size-400);
}

p {
  color: var(--main-color30);
}

input[type='text'],
textarea {
  background-color: var(--main-color10);
  color: var(--main-color40);
  border: 1px solid var(--main-color30);

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type='text']:active,
input[type='text']:focus,
textarea:focus {
  color: var(--main-color40);
  border: 1px solid var(--main-color);
  outline: 0;
  box-shadow: 0 0 0 0.2rem
    hsla(var(--accent1-hue), var(--accent1-sat), var(--accent1-light), 25%);
}

.input-error {
  border: 1px solid var(--accent2);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--main-color30);
  opacity: 0.8; /* Firefox */
}

body {
  background-color: var(--main-color10);
  font-family: Jost, system-ui, sans-serif;
}
