:root {
  --main-header-height: 5rem;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: var(--main-header-height);
  padding-inline: var(--default-gap);
  color: var(--white);
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
}

.site-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  /* overflow:hidden; */
  overflow-x: hidden;
}

#open-sidebar {
  --width: 250px;
  height: calc(100% - var(--main-header-height));
  right:0;
  position: absolute;
  width: 0;

  z-index: 1;
  /* right: -110vw; */
  /* transform: translateX(-110vw); */
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

#open-sidebar .protect {
  width: 250px;
}

#open-sidebar:target {
  /* transform: translateX(0); */
  width: 250px;
}

#open-sidebar:target ~ .hamburger {
  display: none;
}

aside nav.sidebar {
  background-color: var(--main-color10);
  padding: 1rem;

  box-shadow: 5px 0 40px rgb(0 0 0 / 45%);
}
